* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgba(220, 220, 220);
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rgb(62, 125, 129);
    text-decoration: none;
    text-transform: lowercase;
}

a:hover {
    cursor: pointer;
    color: white;
}

h1 {
    margin: 1.2em 20% 0;
}

#name h1, #name h2 {
    margin: 0.6em 0;
    text-align: left;
}

p {
    font-size: 18px;
    margin: 1em;
    line-height: 1.25em;
}

#mainArea {
    margin: 0 auto;
    width: 60%;
}

#mainArea h1{
    font-size: 36px;
}

.mainDetails {
    background-color: rgb(180, 180, 180);
    margin: 0;
    height: 8em;
}
#headshot {
    float: left;
}

#name {
    float: left;
    margin: 0 2%;
}

#contactDetails {
    margin: 2em;
    float: right;
}


section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
}

.keySkills li{
    background-color: cadetblue;
    margin: 5px;
    padding: 3em 2% 5em;
    list-style: none;
    color: rgb(9, 77, 80);
    flex: 20%;
}